<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- SQLite -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:pdvix.db</property>
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>

        <!-- Cria/atualiza as tabelas automaticamente -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Log de SQL (desative em produção) -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">false</property>

        <!-- Entidades mapeadas -->
        <mapping class="PDVix.Entities.Config"/>
    </session-factory>
</hibernate-configuration>